.card {
  min-width: 200px;
  width: 16em;
  
text-align:center;
  border:none!important;
}
.card img {
  border-radius:50%;
}

.card:hover>a div.card-body {
  padding-right: 19px!important;
  padding-left: 19px!important;
}

.card a {
  color:black;
  text-decoration-line: none;
  
}

.card h5 {
  font-weight:600;}

  h1{
    text-align:center;
  }

  fa-icon {
    font-weight: bold;
    padding: 0.7vw 0px 0px 0px;
    font-size: 4vw;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 6px;
  }
  a {
    display: block;
  }
  
  fa-icon:hover {
    opacity: 0.7;
  }
fa-icon#linkedin {
  background: #007bb5;
  color: white;
}

fa-icon#twitter {
  background: #1b95e0;
  color: white;
}