<div>
  <h1>The Tumbling 20's</h1>
  <div style="display:flex;flex-direction:row ; flex-wrap:wrap;">
  <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Vision</h5>
        <p class="card-text">
            The Tumbling20's fund is a safe haven to place savings during the Tumbling 20's. Also we want to be a first-point-of-contact and promoter of Bitcoin and Ethereum communities that stand up for fundamental rights. In
            particular we value security, equity and stabilibity
            in the plans put forward by these communities.
        </p>
      </div>
  </div>
  <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Mission</h5>
        <p class="card-text">
            Our mission is to catalyze monetary change. That includes to prepare people to soothe the Crisis distress, to
            promote aforementioned public blockchains in order to put an end to banking domination and to provide information and investment
            services regarding the Tumbling 20's and Blockchain take over.
        </p>
      </div>
  </div>
  <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Strategy</h5>
        <p class="card-text">
            To take the lid off banking domination of politics
    through finance. Soon we expect run-on-banks, demonstrations and tumbling
    financial markets to promote Bitcoin and Ethereum. We target all the people, from 7-year-old
    kids discovering the world to 70-year-old baby boomers aiming to secure their
    savings during the Tumbling 20's.
        </p>
      </div>

  </div>
</div>
  <hr />

  <h1 style="margin: 15px;">The Team</h1>
      <div class="card" style="margin :15px auto 0px;" >
          <img
            src="../../../assets/img/photo.jpeg"
            class="card-img-top"
            alt="Cyril's photo did not load"
          />
          <hr>
          <div class="card-body">
            <h5 class="card-title">Cyril Attie</h5>
            <p class="card-text">
              Founder and Writer. Monetary Economist Researcher. Programmer. Welath Manager.
            </p>
          </div>
        </div>
      
  <br />
  <br />
  <br />
</div>
