<div>
  <h1>The Tumbling 20's</h1>
  
  <h3>Vision</h3>
  <p>
    Our vision is to become a first point of contact for the blockchain
    community that is implicitly standing up for fundamental rights. In
    particular we acknowledge noble ideals like security, equity and stabilibity
    in the plans put forward by blockchain communities like Bitcoin and
    Ethereum.
  </p>
  <h3>Mission</h3>
  <p>
    Our mission includes to prepare people to soothe the Crisis distress, to
    promote aforementioned public blockchains to put an end to banking-provoked
    crises and feudal-banking system and to provide information and investment
    services regarding the Tumbling 20's and Blockchain take over.
  </p>
  <h3>Strategy</h3>
  <p>
    We wrote this website to take the lid off banking domination of politics
    through finance. Soon we expect run on banks, demonstrations and tumbling
    financial markets to do our marketing. We target all the people, 7 years old
    kids discovering the world to baby boomers secure and multiply their
    savings.
    <br />
  </p>
  <hr />
  <h1>The Team</h1>
  <h3>Cyril Attie</h3>
  <p>
    I am an economic researcher focused on monetary economics and the impact of
    blockchain on the monetary system. 
  </p>
  <br />
  <br />
  <br />
</div>
