figure.illustration {
  display: flex;
  flex-direction:column;
  width: 38.2%;
  min-width: 150px;
  margin: 10px 0px;
  vertical-align: middle;
}
figure figcaption {
font-size:small;
}

figure>img {
  margin-bottom: 2px;
  width:100%;
}

.float-r.illustration {
  float: right;
  margin-left: 4%!important;
}

.float-l.illustration {
  float: left;
  margin-right: 4%!important;
}

h1,
h2,
h5 {
  font-weight: 500;
}

#read-place {
  margin: 10px;
}
@media screen and (max-width: 776px) {
  #read-place {
    padding: 0px 9vw 0px 0px;
  }
}
