<div id="introduction-read-place">
  <h1>Introduction</h1>
  <h6>
    We wrote a tale to introduce you to economic slang of banking and
    blockchain: Tumblien is an alien that tumbles on Earth and hacks the human
    economy in 3 phases: farming, trading and banking.
  </h6>
  <hr />
  <div style="display:table">
    <img
    class="float-r illustration"
    src="../../../assets/img/farming.jpg"
    alt="Farming Image"
    
    />
    <h2>Farming</h2>
    <p>
      Farming is the most basic way of living after nomad wilderness. Farmers
      are sedentary and collaborate, either as a family or as a company, which
      is the case in Tumblien's tale. By collaborating, they get to produce more
      than needed so they can trade leftovers against something else at the
      market.
    </p>
  </div>
  <hr />
  <div>
    <h2>Trading</h2>
    <img
    class="float-l illustration"
    src="../../../assets/img/trading.jpg"
    alt="Trading Image"/>
    <p>
      Trading leftovers is a game of strategy players seek to trade their
      leftover for as much as possible. The optimal strategy (best used by
      bankers) is to trade leftovers of today against an unlimited quantity of
      products in the future. Before banking, people traded their leftover
      against other products, among these products, two categories of products
      were preferred by good traders: capital and money.<br />
      <br />
      Capital is the category of products that are made to produce faster rather
      than to consume directly, for example an irrigation hose and a pump allows
      to water crops in a tenth of the time and a car allows to transport in one
      day what before took weeks. Money is a category of products that were
      appropriate to store the market value rather than to consume directly:
      among money products gold and silver became the most popular because their
      properties are the most suitable for storing wealth over time. <br />
      <br />
      By trading surpluses against capital, people could increase their
      production and generate increasing surpluses. By trading surpluses against
      money, people could wait till new improved capital products appear and buy
      them. Trading surpluses against capital and money was before the strategy
      that led to the most goods in the future against a fixed quantity of
      product today.
    </p>
  </div>

  <hr />

  <div>
    <img
    class="float-r illustration"
    src="../../../assets/img/banking.jpg"
    alt="Banking Image"
 
    />
    <h2>Banking</h2>
    <p>
      Banking is a clever trick that wouldn't have worked without a coalition
      between bankers (in the tale Tumblien is the original banker) and rich
      traders possessing a lot of money products as gold and silver. <br />
      <br />
      Indeed no one trusted bankers, so bankers turned to the most trusted
      people: the biggest businessmen. Near 1775 rich men were agreeing to put
      their gold into the bank and use deposit bills instead of gold in exchange
      for low interest loans of deposit bills. When paying employees rich men
      claimed these money products are too important to be stolen: so they
      rather store them safely at the bank and let the employee withdraw gold at
      his responsibility. <br /><br />
      As prestigious rich men did keep their gold at the bank, employees started
      trusting the trip to the bank to cash the deposit bill was useless.
      Progressively everybody got used to deposit bills rather than gold.
      Business men got their low-interest credits that they used to expand
      production buying capital products. The resulting booming production in
      Europe was named the Industrial Revolution in the 1800's and then spread
      everywhere after. The banking strategy worked wonders for these people,
      you want to understand why? Keep reading. <br /><br />
    </p>
  </div>
</div>
