<div id="read-place">
  <h1>Introduction</h1>
  <h6>
    We wrote <a style="color:black;text-decoration:none" [routerLink]="['..','tale']">Tumblien's tale</a> 
    <!-- (available <a style="color:black;text-decoration:none" [routerLink]="['..','tale']">here</a>) -->
      to introduce you to the economic slang of banking and
    blockchain. Tumblien is an alien that tumbles on Earth and hacks the human
    economy in 3 phases: farming, trading and banking. <br> <br> 
  </h6>
    <h5>
      Keywords: money, capital, credit, banking, trading, farming
    </h5>
  <hr />
  <div style="display:table">
    
    <figure class="float-r illustration">
        <img
    src="../../../assets/img/farming.jpg"
    alt="Farming Image"
    
    />
        <figcaption>
          Artist: <a href="https://www.instagram.com/CeliaYouGonzalez/">@CeliaYouGonzalez</a>
        </figcaption>
      </figure>
    <h2>Farming Is The Base</h2>
    <p>
      Farming is the most basic way of applying effort to nature to satisfy one's needs, after nomad wilderness. Farmers
      are sedentary and might collaborate, either as a family or as a company, gathering all sorts of products in nature. This stage includes hunting and metal colleting as well (yes, mining on the surface was possible long ago). In the tale, Tumblien plants vegetables and gets to produce more than he needs. Hence he employs people to help him. By collaborating they increase leftovers to such an extent that they go to the market to trade them against something else.
    </p>
  </div>
  <hr />
  <div>
    <h2>Trading And Strategic Economics</h2>
  
    <p>
      Trading leftovers is a game of strategy in which smart players seek to trade their
      leftover for as much as possible. At the beginings of trading, people bartered their leftover against other products. Among these products, two categories of products outstanded in order to obtain as much as possible from one's limited production capacity. These 2 categories were called: capital and money.<br />
  
      <figure class="float-l illustration">
          <img
    src="../../../assets/img/trading.jpg"
    alt="Trading Image"/> 
          <figcaption>
            Artist: <a href="https://www.instagram.com/CeliaYouGonzalez/">@CeliaYouGonzalez</a>
          </figcaption>
        </figure>       <br />
      On the one hand capital is the category of products that are made to produce faster. For example an irrigation hose and a pump allows
      to water crops in a tenth of the time spent with a bucket, a car allows to transport in one
      day what before took weeks. On the other hand money is the category of products used to store wealth, which is the set of products a person acquires over time through production and trade. Money productS included art, castles, collectibles like shells and precious metals. Among money products gold and silver became the most popular because they are the most divisible and transportable, which is suitable for storing wealth over time. But it's good to remember
      <!-- <a href="https://nakamotoinstitute.org/shelling-out/"></a> -->
      many products fulfilled the money function, that is, wealth-storing.  <br />
      <br />
      By trading surpluses against capital, people could increase their
      production and generate increasing surpluses. By trading surpluses against
      money, people could wait till new improved capital products appeared and catch state-of-the-art tools. Among the smart traders, trading surpluses against capital and money got to be known as the strategy that led to the most products against least effort, or at least a dimishing effort time.
    </p>
  </div>

  <hr />

  <div>
   
    <h2>The Banking Hack</h2>
    <p>
      Banking is a clever trick that wouldn't have worked without a coalition
      between bankers (in the tale Tumblien is the original banker) and wealthy
      traders possessing lots of gold and silver. <br /> 
      <figure class="float-r illustration">
      <img
    
      src="../../../assets/img/banking.jpg"
      alt="Banking Image"
      />
      <figcaption>
        Artist: <a href="https://www.instagram.com/CeliaYouGonzalez/">@CeliaYouGonzalez</a>
      </figcaption>
    </figure>
      <br />
      Indeed no one trusted bankers to safeguard gold, so bankers turned to the most trusted
      people: the big business owners. In the XVIII century bankers finally got most wealthy traders agreeing to put
      their gold into the bank, to use deposit bills instead of gold to pay employees and to accept sales payment in bank bills. In counterpart for using the bills bankers would provide low-interest loans in bills to these wealthy traders, so they can buy capital and expand their production. When paying employees rich men
      claimed these money products are too important to be stolen: so they
      rather store them safely at the bank and let the employee withdraw gold at
      his responsibility. <br /><br />
      As prestigious rich men did keep their gold at the bank, employees started
      trusting the banker. Furthermore, the trip to the bank to cash the deposit bill was practically useless.
      Progressively everybody got used to deposit bills rather than gold, even capital product factories.
      Business men used their low-interest credits to buy capital products and expand
      production. The result was production booming. In
      Europe the phenomenon was named the Industrial Revolution in the 1800's. Besides booming production and profits for wealthy businessmen, the banking hack made debt unpayable and bills ever increasing making them a very bad way to store wealth, therefore a very bad money product substitute. Nontheless, because some prestigious and influencing men were perceived by the public using them, everybody used bills as money. Keep reading the <a [routerLink]="['..','tumbling20s']">Tumbling 20's Crisis</a> page to understand how crises happen and why the 2020's crisis might be the last crisis thanks to blockchain.  <br /><br />
    </p>
  </div>
</div>
