/* #home-body {
  background-image: url("../../../assets/img/tumbling20s1.png");

 } */

div {
  flex-flow: row wrap;
}

.card {
  min-width: 150px;
  height: 600px;
  width: 18em;
  margin:0px auto 6%;

}

.card:hover {
  outline:5px solid black;
}
.card p, .card h5 {
  color:black;
}
.card p:hover, .card h5:hover {
 text-decoration-line: none;
}


#slogan {
  font-weight: bold;
  text-align: center;
  font-size: 4vw;
}

@media screen and (min-width:992px) {
  #slogan {
    font-size: 3vw;
  }
}
