<div id="home-body">
 
    <p id="slogan">
      Recording the 2020 Crisis and Blockchain takeover since 2019
    </p>
    <!-- <img src="../../../assets/img/tumbling20s1.png" alt=""> -->



<span style="display:flex; margin-bottom:200px; flex-flow:row wrap">
  <div class="card" >
    <a
      [routerLink]="['/introduction']"
      target="_blank"
      title="Understand the very basics (4 minutes reading)"
    >
      <img
        src="../../../assets/img/banking.jpg"
        class="card-img-top"
        alt="Banking Illustration"
      />
    </a>
    <div class="card-body">
        <a
        [routerLink]="['/introduction']"
        target="_blank"
        title="Understand the very basics (4 minutes reading)"
      >
      <h5 class="card-title">Introduction</h5></a>
      <p class="card-text">
        We wrote an illustrated tale to introduce you to economic slang of banking: Tumblien
        is an alien that tumbles on Earth and hacks the human economy in 3
        phases: farming, trading and banking.
      </p>
      <a [routerLink]="['/introduction']" class="btn btn-primary" target="_blank"
      title="Understand the very basics (4 minutes reading)"
        >Introduction</a
      >
    </div>
  </div>

  <div class="card">
    <a
      [routerLink]="['/tumbling20s']"
      target="_blank"
      title="Explore the Tumbling 20's Crisis (12 minutes reading)"
    >
      <img
        src="../../../assets/img/crisis.jpg"
        class="card-img-top"
        alt="..."
      />
    </a>
    <div class="card-body">
      <a
        [routerLink]="['/tumbling20s']"
        style="color:black;"
        target="_blank"
        title="Explore the Tumbling 20's Crisis (12 minutes reading)"
      >
      <a
      [routerLink]="['/tumbling20s']"
      target="_blank"
      title="Explore the Tumbling 20's Crisis (12 minutes reading)"
    > <h5 class="card-title">2020's Crisis</h5> </a>
      </a>
      <p class="card-text">
        Get the essentials why the 2020's Crisis is happening and open your
        safety parachute before the crash. Hopefully, it is be the last crisis
        thanks to blockchain!
      </p>
      <a
        [routerLink]="['/tumbling20s']"
        target="_blank"
        title="Explore the Tumbling 20's Crisis (12 minutes reading)"
        class="btn btn-primary"
        >T20's Crisis</a
      >
    </div>
  </div>

  <div class="card" >
    <a
      [routerLink]="['/blockchain']"
      target="_blank"
      title="Explore Blockchain (12 minutes reading)"
    >
      <img
        src="../../../assets/img/tumbling20s.png"
        class="card-img-top"
        alt="Blockchain Illustration"
      />
    </a>
    <div class="card-body">
        <a
      [routerLink]="['/blockchain']"
      target="_blank"
      title="Explore Blockchain (12 minutes reading)"
    ><h5 class="card-title">Blockchain</h5></a>
      <p class="card-text">
        Understand the real spirit the behind blockchain community. Get in touch
        for strategic updates and investment advice.
      </p>
      <a
        [routerLink]="['/blockchain']"
        class="btn btn-primary"
        target="_blank"
        title="Explore Blockchain (12 minutes reading)"
        >Blockchain</a
      >
    </div>
  </div>
</span>
</div>