<div id="read-place">
  <h1>The Tumbling 20's Crisis</h1>
  <h6>
    Get the essentials how crises are caused by banking activity and why the
    Tumbling 20's might be the last Crisis thanks to Bitcoin and Ethereum
  </h6>
  <h5>
    Keywords: banking credit cycle, stock market crash, bitcoin, ethereum,
    inflation, deflation, interest rates
  </h5>

  <aside id="initial-note-with-mouse" hidden>
    Note: for those who skipped the
    <a [routerLink]="['..', 'introduction']">introduction</a> you can see an
    italic word definition by passing the mouse over the word.
  </aside>
  <hr />
  <div style="display:table;">
    <h2>The Banking Hack Manual</h2>
    <p>
      Origininally, when
      <i
        title="Money is the category of products used to store wealth, which is the set of products a person acquires over time through production and trade. Money products included art, castles, collectibles like shells and precious metals. Among money products gold and silver became the most popular because they are the most divisible and transportable, which is suitable for storing wealth over time."
        >money products</i
      >
      (mainly gold and silver) was deposited into the bank an equivalent amount
      of deposit bills was issued to the depositor. But afterwards, through
      credit, additional bills were poured into circulation without gold and
      silver being deposited at the bank in counterpart. When granting credit,
      rather than being backed by gold bills are backed by a debt contract. A
      debt contract is a promise to pay back the borrowed amount plus
      accumulated interests over time. The banking credit makes bill-denominated
      debt unpayable and bills quantity ever increasing making them a very bad
      way to store wealth, therefore a very bad money product substitute.
      Banking credit consequences are:
    </p>
    <img
      class="float-r illustration"
      src="../../../assets/img/banking.jpg"
      alt="Banking Image"
    />
    <ol>
      <li>
        Bank deposit bills are not anymore a
        <i
          title="Money is the category of products used to store wealth, which is the set of products a person acquires over time through production and trade. Money products included art, castles, collectibles like shells and precious metals. Among money products gold and silver became the most popular because they are the most divisible and transportable, which is suitable for storing wealth over time."
          >money</i
        >. Because bills are not fully backed by money products they are
        excluded from the original
        <i
          title="At the beginings of trading, people bartered their leftover against other products. Among these products, two categories of products outstanded in order to obtain as much as possible from one's limited production capacity. These 2 categories were called: capital and money."
          >'best trading strategy'</i
        >
        of trading leftovers for money products as for example gold.
      </li>
      <li>
        Banking credit makes impossible to pay back the debt. Indeed, the debt
        contract says every year an interest is to be added on the previous-year
        <i
          title="The debt-balance means the amount owed to the bank. Can be calculated as the original debt amount plus interests minus what has already ben paid off."
          >debt-balance</i
        >. In other words the debt-balance multiplies itself every year by (1+i)
        where i is the interest rate. But the number of bank bills poured into
        circulation at the time of the credit stays the same, it does not
        increase or multiply. Therefore
        <i
          title="Indeed the debt balances increase through interest but the existing bills don't. So after some time the debt balances catch up and overcome the circulating bills and the existing bills. As a consequence it becomes unfeasible to pay the debt balance because there is not enough bills existing to pay that amount."
          >after some years the total debt balances of outstanding credits
          overcome the total existing bills making it forever unfeasible to
          payback the credit debt owed to the banks because there is not enough
          circulating bills to pay that amount</i
        >. Clever trick, I call it the banking hack.
      </li>
      <li>
        Bankers, and their network, hide the hack through what I call The
        Banking Credit Cycle, which is alternating periods of inflation, Crisis,
        deflation and reflation:

        <ol>
          <li>
            Inflation: Monetary inflation refers to increasing (or inflating)
            quantity of circulating bills because of credit granting. Monetary
            inflation spurs product price inflation and speculation. When
            product price inflation becomes too noticeable banks rise interest
            rates to earn more revenue and to discourage businessmen and
            speculators to take new credits.
          </li>
          <li>
            Crisis: At a higher interest rate speculators withdraw from markets
            and prices that were getting inflated pop. In other words, interest
            rate rise kicks off a Crisis, that is when over-inflated prices fall
            more than 50% in less than 3 years. During Crisis almost every smart
            debtor is looking to redeem its debt. And debt redemption equates to
            monetary deflation.
          </li>
          <li>
            Deflation: monetary deflation refers to diminishing (or deflating)
            quantity of circulating bills because of credit redemption. Monetary
            deflation comes along product price deflation and panic. Indeed
            falling product prices means one will have to sell more products to
            raise the same amount of debt. Falling product prices means people
            is encouraged to save money instead of consuming as tomorrow
            products will be cheaper than today, and that makes it even more
            difficult to raise enough money to pay off the debt. Product prices
            deflation is the scariest nightmare of indebted businessmen that
            collaborate with bankers. That is why the cycle closes by with
            lowering again interest rates to encourage credit taking in order to
            reflate the quantity of bills and prices.
          </li>
          <li>
            Reflation: As long as there is not a corresponding monetary
            reflation to prevent price deflation the circulating bills drain to
            the banks allowing them to acquire assets at a deflated (Crisis)
            price. Monetary reflation is the quanitty of circulating bills
            re-increasing after having diminished. The re-increase is achieved
            by lowering interest rates to encourage credt taking. Finally big
            businessmen, corporations or the government take big credits to
            reflate the quantity of circulating bills, the prices follow and the
            economic activity. Coming back to the base point: inflation.
          </li>
        </ol>
      </li>
    </ol>
    <p>
      So The Banking Credit Cycle describes how bankers distract generating
      sensationalist news through credit-pumped speculative bubbles and
      subsequent panicking Crises.
      <br />
      Once more, all this explanaition is meant to understand how debt is
      unpayable and why the quantity of bank bills increase exponentially, and
      therefore are a bad product money substitute for smart trader strategy. To
      sum up:
    </p>
    <figure class="float-r graph">
      <img src="../../../assets/img/m2.png" alt="Banking Image" />
      <figcaption>
        Fig. 1 Quantity of bills for United States from 1959 to 2019<br />
        M2 for the United States (Source:
        <a href="https://fred.stlouisfed.org/series/MABMM201USQ189S"
          >fred.stlouisfed.org</a
        >)
      </figcaption>
    </figure>
    <ol>
      <li>
        Every credit redemption is greater than every previously taken credit
        because of accumulated interest over time
      </li>
      <li>
        Banks are the biggest debtors as they owe the all the deposits to their
        clients and debtors are really afraid of price deflation
      </li>
      <li>
        In order to keep product prices steadily increasing every new credit
        must be greater than or equal to the previous credit redemption that was
        already greater than the previous credit
      </li>
      <li>
        The previous point leads to an exponential increase (the next increase
        is always greater than the previous, see Fig. 1) of the quantity of
        bills, making the banking bill a very poor money substitute as the bill
        loses all its value over time (see Fig. 2)
      </li>
    </ol>
    <p>
      <figure class="float-r graph">
        <img
          src="../../../assets/img/purchasing_power.png"
          alt="Banking Image"
        />
        <figcaption>
          Fig. 2 Value of a bank bill from 1913 to 2019<br />
          Purchasing Power of the Consumer Dollar in U.S. (Source:
          <a href="https://fred.stlouisfed.org/series/CUUR0000SA0R"
            >fred.stlouisfed.org</a
          >)
        </figcaption>
      </figure>
      To sustain this system banks looked forward to prevent people from
      withdrawing their gold. Bankers cartelized under a powerful Central
      (federal) bank that guards all the gold of banks and issues a single bill,
      the US dollar bill. I refer to the US as it is the oldest Central bank on
      which all others are inspired or derived. Then they financed the growing
      political campaigns to lobby policies like:
    </p>
    <ul>
      <li>
        Making taxes payable in Federal deposit bills. (Federal Reserve Act,
        1913)
      </li>
      <li>
        Confiscating real money products, like gold, fining those who hoard it
        (1933 - Executive Order 6102).
      </li>
      <li>
        International Wars which are a common strategy to increase government
        debt before (arming), during (war effort) and after to rebuild
        countries.
      </li>
    </ul>
    <p>
      Is it by coincidence that the WWI started the year after the creation of
      the US central bank?
      <br /><br />
      The International War policy worked wonders after World War II as
      countries agreed that the US dollars was 'as good as gold' to back other
      currencies and for international transactions. That has allowed american
      banks to lend money to countries (for reconstruction or infrastructure)
      that then deposit back the money in US bank. Allowing the bank to lend
      that amount many times. <br /><br />
      Finally in 1971 the convertibility of the US dollar bill into gold was
      obviously suspended. The POTUS of the day said due to excessive inflation
      and gold withdrawals, but clearly it was due to excessive bank credit
      granting from 1921 to 1927 and from 1942 to 1971 (two important inflation
      periods) that made the backing gold ridiculously little next to the
      quanitty of bills.
    </p>
    <hr />
    <h2>The Last Two Cycles 2000 and 2008</h2>
    <p>
      For example, in 2000 and in 2008 we have two perfect Crisis of Banking
      Credit Cycles. After the 60's agricultural revolution and 70'S inflation
      came a 20 years period of stability where productivity was steadily
      increasing thanks to the widespread adoption of productivity and
      competitiveness techniques. <br /><br />
      <figure class="float-r graph">
        <img
          src="../../../assets/img/nasdaq1996-2004.png"
          alt="Oops! Stock prices graph did not load correctly"
        />
        <figcaption>
          Fig. 3 Stock Prices From 1996 to 2004<br />
          Nasdaq 100: 100 of the largest non-financial companies (Source:
          <a href="https://www.tradingview.com/symbols/NASDAQ-NDX/"
            >tradingview.com</a
          >)
        </figcaption>
      </figure>
      In 1998, spiking oil prices warned bankers of undergoing price inflation.
      Bankers raised interest rates to discourage people from speculating and
      taking credit but the 'dot com' bubble was already under way. Stock market
      prices (NASDAQ 100 Index) that had doubled in the previous 2 years doubled
      twice more in the next 2 years: from 562pts in 1996, to 1200pts in 1998
      and to 4800pts in 2000. When the crisis started, after 2 years of rising
      interest rates and monetary deflation, nobody expected stock prices to
      fall 80%. Rather the opposite, polled people generally answered the stock
      market would keep climbing to new maxima. The public explained this
      irrational prejudice because of the new millenia and Internet revolution,
      but only bankers and their network were aware of monetary deflation and
      undergoing crisis coming. In the next 3 years from 2000 till 2003 the
      index fell back under 900pts level. Can you imagine the euphoria while
      your savings multiply by 8 in 5 years and the subsequent panic when you
      lose 80% in 2 years? That's how bankers distract the public to their
      advantage: only bankers know when bills are being drained out of or poured
      in circulation, but they play with news to trick uninformed players. News
      companies only attempt to attract more viewer with sensationalist news,
      because ultimately that's what they're paid for. Complex reasonings do not
      attract many viewers. The lemma of the central banks could well be
      "Distracting people since 1913" because distracting us is the only way to
      hack us. <br /><br />
      <figure class="float-r graph">
        <img
          src="../../../assets/img/housing2002-2011.png"
          alt="Oops! Housing prices graph did not load correctly"
        />
        <figcaption>
          Fig. 4 House prices from 2002 to 2011<br />
          Housing Sector Index (HGX) (Source:
          <a href="https://www.tradingview.com/symbols/NASDAQ-HGX/"
            >tradingview.com</a
          >)
        </figcaption>
      </figure>
      From 2001 to 2004 banks encouraged credit through low (1%) interest rates
      and government-sponsored mortgages to spur reflation. These policies
      straigthened the economy and caused an all time high in oil in 2004, a
      sign of undergoing inflation. Since 2004 interest rates rose from 1% to
      4.25% but the real estate bubble was already under way. Speculators kept
      increasing their projects and consumers kept refinancing their mortgages
      to consume more. In 2006, again after 2 years of rising interest rates,
      house prices topped and started to fall after having more than doubled in
      4 years. Two years later, with housing prices having fallen 80% from their
      top, an avanlache of credit defaults almost wiped out the whole banking
      system. <br /><br />
      In order to save the banking system, that had in 2008 a monetary monopoly,
      governments paid for the rescue of banks, the central bankers lowered the
      interest rate from 4.25% to 0.05% and mantained it for 6 years there.
      Aware that low interests were not enough they started printing bills and
      buying government debt directly in the market from 2009 to 2016. By buying
      government debt directly in the market central bankers changed the rules
      of the game, they bypassed the need of a credit taker to reflate the
      economy. Usually a big institution like corporations or the government are
      the credit takers profiting from deflated crisis prices, but this time it
      was not enough to compensate for credit redemption. So bankers directly
      increased the amount of bills into circulation without increasing the
      existing debt balance by buying government debt bonds. However when the
      debt bonds will expire, debt bonds ought to be redeemed to the central
      bank and money be again drained out of the circulation contributing to the
      Tumbling 20's. <br /><br />
    </p>
    <hr />
    <h2>Hello Tumbling 20's</h2>
    <p>
      The Tumbling 20's is an expression coined to refer to the 2020's Crisis.
      Indeed there are many clues that signal a crisis will hit the economy very
      soon. Spread the word! Share this website!
      <br /><br />
      Since 2016 the interest rates have been rising, the overnight rate is gone
      from 0.00-0.05 to 2.40%. <br /><br />
      <figure class="float-l graph">
        <img
          src="../../../assets/img/fed-funds2015-2019.png"
          alt="Oops! Interest rate graph did not load correctly"
        />
        <figcaption>
          Fig. 5 Interest Rate from 2015 to 2019<br />
          Effective Federal Funds Rate (Source:
          <a href="https://fred.stlouisfed.org/series/DFF"
            >fred.stlouisfed.org</a
          >)
        </figcaption>
      </figure>
      Even though the interest rates and so the financial cost of companies and
      consumers was rising the stock market still got to almost double between
      2016 and 2019, from ~4000pts in 2016 to ~8000pts in summer 2019. <br /><br />
      <figure class="float-r graph">
        <img
          src="../../../assets/img/nasdaq2009-2019.png"
          alt="Oops! Stock prices graph did not load correctly"
        />
        <figcaption>
          Fig. 6 Stock Prices From 2009 to 2019<br />
          Nasdaq 100: 100 of the largest non-financial companies (Source:
          <a href="https://www.tradingview.com/symbols/NASDAQ-NDX/"
            >tradingview.com</a
          >)
        </figcaption>
      </figure>
      Trump tax cut artificially swell the corporate net income after tax making
      it look stable since 2014, but the reality is that corporate net income
      before taxes have been plunging since 2014 to levels close to those of
      2008. In short, in 2019 though operating profits are nearly equal than in
      2008, prices are roughly double those of summer 2008. Stock prices are
      overvalued due to excessive bank money poured into circulation from 2008
      Crisis. <br /><br /></p>
      <figure class="float-l graph">
        <img
          src="../../../assets/img/corporate-profits-after-tax2000-2019.png"
          alt="Oops! After tax corporate profits graph did not load correctly"
        />
        <figcaption>
          Fig. 7 After-tax Corporate Profits From 2000 To 2019<br />
          Corporate Profits After Tax (Source:
          <a href="https://fred.stlouisfed.org/series/CP">fred.stlouisfed.org</a
          >)
        </figcaption>
      </figure>
      <figure class="float-r graph">
        <img
          src="../../../assets/img/corporate-profits-before-tax2000-2019.png"
          alt="Oops! Before tax corporate profits graph did not load correctly"
        />
        <figcaption>
          Fig. 8 Before-tax Corporate Profits From 2000 To 2019<br />
          Corporate Profits before Tax (Source:
          <a href="https://fred.stlouisfed.org/series/A053RC1Q027SBEA"
            >fred.stlouisfed.org</a
          >)
        </figcaption>
      </figure>
      <p>
      Another alarming fact is that long-term ineterest-rates have been much
      lower than the overnight rate, that is a sign that investors prefer 10
      years of fixed income at 1.6% than renovating short term debts at
      currently more than 2%. Why? Because they believe there is going to be a
      major crash and the bankers will be forced to lower interest rates to
      minimum to reflate the quantity of money. Therefore, being an investor it
      is more prudent to take a long term debt at a lower interest because
      short-term debts will probably be renewed at a very low interest when the
      Crisis hits. Note that statistically it is more likely that one will
      default on a longer term loan than on a shorter term one, so under normal
      circumstances investors prefer renovating short-term debts at a lower
      interest than taking long-term ones. <br /><br />
      There are more factors calling for a crisis: Demographically in US, Europe
      and Japan baby boomers are getting to the age of retirement, so they will
      be exercising a selling pressure on the stock market for the next years in
      order to withdraw money to live. </p>
      <br /><br />
      <figure class="float-r graph">
        <img
          src="../../../assets/img/dp_us.jpg"
          alt="Oops! Demographic pyramid did not load correctly"
        />
        <figcaption>
          Fig. 9 Population Age Distribution in US<br />US Demographic Pyramid
          (Source:
          <a
            href="https://www.cia.gov/library/publications/resources/the-world-factbook/geos/us.html"
            >cia.gov</a
          >)
        </figcaption>
      </figure>
      <figure class="float-l graph">
        <img
          src="../../../assets/img/dp_ja.jpg"
          alt="Oops! Demographic pyramid did not load correctly"
        />
        <figcaption>
          Fig. 10 Population Age Distribution in Japan<br />Japan Demographic
          Pyramid (Source:
          <a
            href="https://www.cia.gov/library/publications/resources/the-world-factbook/geos/ja.html"
            >cia.gov</a
          >)
        </figcaption>
      </figure>
      <figure class="float-r graph">
        <img
          src="../../../assets/img/dp_de.jpg"
          alt="Oops! Demographic pyramid did not load correctly"
        />
        <figcaption>
          Fig. 11 Population Age Distribution in Germany<br />Germany
          Demographic Pyramid (Source:
          <a
            href="https://www.cia.gov/library/publications/resources/the-world-factbook/geos/gm.html"
            >cia.gov</a
          >)
        </figcaption>
      </figure>
      <p>
      Technologically blockchain has made its appearance in 2008 with bitcoin
      that is 10 years old and Ether, the second blockchain by market
      capitalization, that is 5 years old. Bitcoin and Ethereum are open-source
      technologies that support any collaboration application. In particular
      money accounting (what banks do) or collective decision-making (in
      governments, corporations or organizations...etc).
      <br /><br />
      Public Blockchains like Bitcoin and Ethereum are not owned by any company
      or institution, they just the way interactions happen among traders or
      more generally people. More precisely they are an algorithm. An algorithm
      is just some instructions given to a computer that executes them all day
      as a server, kind of similarly to a slave that doesn't need to eat or
      sleep, that just executes the algorithm. These algorithms are public
      because they:
    </p>
    <ul>
      <li>
        Can be explored by anyone as the code is publicly available to anyone
      </li>
      <li>
        Can run on any computer that then becomes a node of the network, being
        inclusive as there is with no limit on the number of nodes
      </li>
    </ul>
    <p>
      Public blockchains can make wonders for humanity that are explored in
      depth in the Blockchain page. Here are some advances:
    </p>
    <ul>
      <li>
        Public Blockchains make all nodes communicate according to a
        communication protocol and want to collaborate with their node peers
        through cryptography and game theory, two branches of mathematics
      </li>
      <li>
        Public blockchains can listen and execute orders sent by users the way
        institutions do, with the exception that it cannot be secretly corrupted
        (and does not need to close to sleep)
      </li>
    </ul>
    <p>
      Indeed most corruption sprouts out of financial favors to politicians or
      evil people threatening decision-makers (or even their family) in order to
      obtain what they want. Bitcoin and Ethereum cannot conspire against the
      people as it is developed by all and all instructions executed by the
      workers, that are computers, are public available to anyone. Keep reading
      the <a [routerLink]="['..', 'blockchain']">Blockchain</a> page to
      understand the real spirit behind the Crypto Revolution and why the 2020's
      crisis might be the last crisis thanks to Bitcoin and Ethereum.
    </p>
  </div>
</div>
