/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  #web-title {
    font-size: 4vw;
    font-size-adjust: none;
    margin: 0px 4px 0px 4px;
  }
}
h1 {
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  margin: 0px 4px 0px 40px;
  padding:0px;
}

nav {
  position:sticky;
  top:0px;
  z-index: 1;
}

a.navbar-brand {
  padding:0px;
  margin:0px;
}

#logo {
  width:62px;
  height:62px;
}