
<div>
  <div class="advertisement">
    <h5>Advertise yourself here</h5>
    <p></p>
  </div>

  
  <div style="flex-flow:column;position:sticky;width:40px;top:10px;">
      
        
  <div id="share-links">
      <!-- Facebook share button-->
       <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.tumbling20s.com"><i class="fab fa-facebook"> </i></a>
       <!-- Twitter share button -->
      <a href="https://twitter.com/intent/tweet?text=Watch%20the%202020%20Crisis%20happening%20and%20Blockchain%20takeover%20https://www.tumbling20s.com%20@tumbling20s"><i class="fab fa-twitter"></i></a>
       <!-- Linkedin share button -->
       <a href="https://www.linkedin.com/sharing/share-offsite/?url=tumbling20s.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <!-- Whatsapp card -->
       <a href="whatsapp://send?text=https://www.tumbling20s.com" data-action="share/whatsapp/share"><i class="fab fa-whatsapp"></i></a>
       <!-- Pocket -->
       <a href="https://getpocket.com/save?url=https://www.tumbling20s.com" title="Pocket" target="_blank"><i class="fab fa-get-pocket"></i></a>
       <!-- Telegram -->
       <a href="tg://msg_url?url=https://www.tumbling20s.com"><i class="fab fa-telegram-plane"></i></a>
     </div>
     
   </div>

  </div>