
<div>
  

  
  <div style="flex-flow:column;position:sticky;width:40px;top:10px;">
      
        
  <div id="share-links">
      <!-- Facebook share button-->
       <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.tumbling20s.com"><fa-icon id="facebook" [icon]="faFacebookF"></fa-icon></a>
       <!-- Twitter share button -->
      
      <a href="https://twitter.com/intent/tweet?text=Watch%20the%202020%20Crisis%20happening%20and%20Blockchain%20takeover%20https://www.tumbling20s.com%20@tumbling20s"><fa-icon id="twitter" [icon]="faTwitter"></fa-icon></a>
       <!-- Linkedin share button -->
       <a href="https://www.linkedin.com/sharing/share-offsite/?url=tumbling20s.com" target="_blank"><fa-icon id="linkedin" [icon]="faLinkedinIn"></fa-icon></a>
        <!-- Whatsapp card -->
       <a href="whatsapp://send?text=https://www.tumbling20s.com" data-action="share/whatsapp/share"><fa-icon id="whatsapp" [icon]="faWhatsapp"></fa-icon></a>
       <!-- Pocket -->
       <a href="https://getpocket.com/save?url=https://www.tumbling20s.com" title="Pocket" target="_blank"><fa-icon id="getpocket" [icon]="faGetPocket"></fa-icon></a>
       <!-- Telegram -->
       <a href="tg://msg_url?url=https://www.tumbling20s.com"><fa-icon id="telegram" [icon]="faTelegramPlane"></fa-icon></a>
     </div>
     
   </div>

  </div>