
<div>
  <div class="advertisement">
    <h5>Advertise yourself here</h5>
    <p></p>
  </div>

  
  <div style="flex-flow:column;position:sticky;width:40px;top:10px;">
      
        <h5>
          Contact us:
        </h5>
    <!-- Facebook link button-->
     <a href="https://www.facebook.com/tumbling20s/" target="_blank"><i class="fab fa-facebook"></i></a>
     <!-- Twitter link button -->
    <a href="https://twitter.com/tumbling20s" target="_blank"><i class="fab fa-twitter"></i></a>
     <!-- Linkedin link button -->
     <a href="https://www.linkedin.com/company/tumbling20s" target="_blank"><i class="fab fa-linkedin-in"></i></a>
     <!-- Telegram -->
     <a href="https://t.me/tumbling20s" target="_blank"><i class="fab fa-telegram-plane"></i></a>
     <!-- email TODO EMAIL FORM
     <a href="mailto:contact@tumbling20s.com" target="_blank"><i class="far fa-envelope"></i></a>-->
     
   </div>

  </div>