footer {
  color: white;
  position: static; /* fixed; */
  bottom: 0px;
  width: 100%;
}

.fab {
  font: sans-serif,helvetica,Helvetica,Arial,sans-serif ;
  font-weight:bold;
  vertical-align: middle;
  font-size: 15px;
  padding: 8px 4px 0 6px;
  height:28px;
  width:100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 4px;
}

.fab > p {
  font:helvetica;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}


.fa-whatsapp {
   background: #00e676;
   color: white;
 }
 
 .fa-get-pocket {
   background: #ef4056;
   color: white;
 }
 .fa-telegram-plane{
   background: #31a8df;
   color: white;
 }

 .fa-twitter{
  background: #1b95e0;
  color: white;
}


.fa-facebook{
  background: #4267b2;
  color: white;
}