footer {
  color: white;
  position: static; /* fixed; */
  bottom: 0px;
  width: 100%;
}

.fab,
.far {
  font: sans-serif, helvetica, Helvetica, Arial, sans-serif;
  font-weight: bold;
  vertical-align: bottom;
  padding: 0.6vw 0px 0px 0px;
  font-size: 3vw;
  height: 4vw;
  width: 4vw;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 4px;
}

.fab:hover,
.far:hover {
  opacity: 0.7;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

.fa-whatsapp {
  background: #00e676;
  color: white;
}

.fa-get-pocket {
  background: #ef4056;
  color: white;
}
.fa-telegram-plane {
  background: #31a8df;
  color: white;
}

.fa-twitter {
  background: #1b95e0;
  color: white;
}

.fa-facebook {
  background: #4267b2;
  color: white;
}

.fa-envelope {
  background: rgb(107, 102, 102);
  color: white;
}

#under-footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: black;
}

#under-footer>p {
margin:auto;
width:33%;
}

#under-footer>p>a {
  color: rgba(255,255,255,.5);
  }

  #under-footer>p>a:hover {
 text-decoration: underline;   
}
